---
import MainLayout from "../layouts/MainLayout.astro";

import "../styles/tailwind.css";

import Marquee from "../components/marquee.astro";
---

<MainLayout title="Gallery">
  <article>
    <section class="grid md:grid-cols-3">
      <div class="bg-brandcolor md:col-span-2">
        <h1 class="text-right p-12">GALLERY</h1>
        <h2 class="px-6 pb-10 md:pl-30 md:pr-10">
          Take a look at some of the submissions from the past for inspiration:
        </h2>
      </div>
      <div class="bg-secondarycol relative flex items-center justify-center">
        <div class="flex items-center justify-center">
          <img src="/fish.png" alt="fish" class="w-64 p-6 md:w-96" />
        </div>
        <div class="absolute inset-0">
          <Marquee />
          <Marquee />
          <Marquee />
          <Marquee />
          <div class="mx-auto hidden md:block lg:block">
            <Marquee />
            <Marquee />
            <Marquee />
          </div>
        </div>
      </div>
    </section>
    <section
      class="bg-primarycol grid grid-cols-[repeat(auto-fill,minmax(200px,1fr))] gap-6 p-6 py-10 md:px-40 md:gap-10 md:py-30"
    >
      <div>
        <img
          src="/gal-img-1.webp"
          alt="Instant billede"
          class="w-full aspect-[3/4] fade-in"
        />
      </div>
      <div>
        <img
          src="/gal-img-19.webp"
          alt="Instant billede"
          class="w-full aspect-[3/4] fade-in"
        />
      </div>
      <div>
        <img
          src="/gal-img-22.webp"
          alt="Instant billede"
          class="w-full aspect-[3/4] fade-in"
        />
      </div>
      <div>
        <img
          src="/gal-img-2.webp"
          alt="Instant billede"
          class="w-full aspect-[3/4] fade-in"
        />
      </div>
      <div>
        <img
          src="/gal-img-14.webp"
          alt="Instant billede"
          class="w-full aspect-[3/4] fade-in"
        />
      </div>
      <div>
        <img
          src="/gal-img-23.webp"
          alt="Instant billede"
          class="w-full aspect-[3/4] fade-in"
        />
      </div>
      <div>
        <img
          src="/gal-img-29.webp"
          alt="Instant billede"
          class="w-full aspect-[3/4] fade-in"
        />
      </div>
      <div>
        <img
          src="/gal-img-15.webp"
          alt="Instant billede"
          class="w-full aspect-[3/4] fade-in"
        />
      </div>
      <div>
        <img
          src="/gal-img-8.webp"
          alt="Instant billede"
          class="w-full aspect-[3/4] fade-in"
        />
      </div>
      <div>
        <img
          src="/gal-img-12.webp"
          alt="Instant billede"
          class="w-full aspect-[3/4] fade-in"
        />
      </div>
      <div class="col-span-2 fade-in">
        <img src="/gal-img-4.webp" alt="Instant billede" />
      </div>
      <div>
        <img
          src="/gal-img-26.webp"
          alt="Instant billede"
          class="w-full aspect-[3/4] fade-in"
        />
      </div>
      <div>
        <img
          src="/gal-img-27.webp"
          alt="Instant billede"
          class="w-full aspect-[3/4] fade-in"
        />
      </div>
      <div>
        <img
          src="/gal-img-24.webp"
          alt="Instant billede"
          class="w-full aspect-[3/4] fade-in"
        />
      </div>
      <div>
        <img
          src="/gal-img-9.webp"
          alt="Instant billede"
          class="w-full aspect-[3/4] fade-in"
        />
      </div>
      <div>
        <img
          src="/gal-img-7.webp"
          alt="Instant billede"
          class="w-full aspect-[3/4] fade-in"
        />
      </div>
      <div>
        <img
          src="/gal-img-25.webp"
          alt="Instant billede"
          class="w-full aspect-[3/4] fade-in"
        />
      </div>
      <div>
        <img
          src="/gal-img-21.webp"
          alt="Instant billede"
          class="w-full aspect-[3/4] fade-in"
        />
      </div>
      <div>
        <img
          src="/gal-img-20.webp"
          alt="Instant billede"
          class="w-full aspect-[3/4] fade-in"
        />
      </div>
      <div>
        <img
          src="/gal-img-3.webp"
          alt="Instant billede"
          class="w-full aspect-[3/4] fade-in"
        />
      </div>
      <div>
        <img
          src="/gal-img-11.webp"
          alt="Instant billede"
          class="w-full aspect-[3/4] fade-in"
        />
      </div>
      <div>
        <img
          src="/gal-img-5.webp"
          alt="Instant billede"
          class="w-full aspect-[3/4] fade-in"
        />
      </div>
      <div>
        <img
          src="/gal-img-17.webp"
          alt="Instant billede"
          class="w-full aspect-[3/4] fade-in"
        />
      </div>
      <div class="col-span-2 fade-in">
        <img src="/gal-img-16.webp" alt="Instant billede" />
      </div>
      <div>
        <img
          src="/gal-img-18.webp"
          alt="Instant billede"
          class="w-full aspect-[3/4] fade-in"
        />
      </div>
      <div>
        <img
          src="/gal-img-10.webp"
          alt="Instant billede"
          class="w-full aspect-[3/4] fade-in"
        />
      </div>
      <div>
        <img
          src="/gal-img-6.webp"
          alt="Instant billede"
          class="w-full aspect-[3/4] fade-in"
        />
      </div>
      <div>
        <img
          src="/gal-img-28.webp"
          alt="Instant billede"
          class="w-full aspect-[3/4] fade-in"
        />
      </div>
      <div>
        <img
          src="/gal-img-30.webp"
          alt="Instant billede"
          class="w-full aspect-[3/4] fade-in"
        />
      </div>
      <div>
        <img
          src="/gal-img-13.webp"
          alt="Instant billede"
          class="w-full aspect-[3/4] fade-in"
        />
      </div>
      <!-- <div>
				<img src="/gal-img-19.webp" alt="Instant billede" class="w-full aspect-[3/4]">
			</div>
			<div>
				<img src="/gal-img-22.webp" alt="Instant billede" class="w-full aspect-[3/4]">
			</div> -->
    </section>
  </article>
</MainLayout>
