---
import "../styles/tailwind.css";
---

<button
  class="bg-brandcolor border-2 border-primarycol p-3 px-9 cta hover:bg-primarycol hover:border-brandcolor hover:text-white"
>
  <div class="cta-tekst">
    <a href="/share">Participate in the open call</a>
  </div>
</button>
