---
import "../styles/tailwind.css";
---

<button
  class="bg-brandcolor border-2 border-primarycol p-3 hover:bg-primarycol hover:border-brandcolor hover:text-white md:"
>
  <div class="">
    <a class="text-xl" href="/share">Participate in the open call</a>
  </div>
</button>
