---
---
<div class="text-primarycol bg-transparent">
    <ul class="flex flex-row gap-4 py-10 justify-between items-center md:px-20">
        <li
          class="border-2 border-primarycol p-3 px-9 bg-brandcolor hover:bg-primarycol hover:text-white"
        >
          <a href="https://www.ek.dk/" >kontakt</a>
          <li
          class="border-2 border-primarycol p-3 px-9 bg-brandcolor hover:bg-primarycol hover:text-white"
        >
          <a href="#" >til toppen</a>
          <li
          class="border-2 border-primarycol p-3 px-9 bg-brandcolor hover:bg-primarycol hover:text-white"
        >
          <a href="https://www.instagram.com/ek.guldbar/" >instagram</a>
</div>
  