---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
import "../styles/tailwind.css";
---

<header x-data="{ showmenu: false }" class="text-primarycol bg-transparent">
  <div
    id="navbar"
    class="container mx-auto p-4 flex flex-row justify-between items-center"
  >
    <div id="logo" class="">
      <a href="" class="font-display text-4xl">INSTANT DAY</a>
    </div>
    <nav id="desktopmenu" class="hidden lg:block bg-10-primarycol">
      <ul class="flex flex-row gap-4">
        <li
          class="border-2 border-primarycol p-3 px-9 bg-brandcolor hover:bg-primarycol hover:text-white"
        >
          <a href="/" class={currentPath === "" ? "font-bold " : ""}>home</a>
        </li><!-- alternativt: lav et <a href="">Link</a>, hvis du ikke vil bruge Link.astro komponenten -->
        <li
          class="border-2 border-primarycol p-3 px-9 bg-brandcolor hover:bg-primarycol hover:text-white"
        >
          <a href="/about" class={currentPath === "about" ? "font-bold " : ""}
            >about</a
          >
        </li>
        <li
          class="border-2 border-primarycol p-3 px-9 bg-brandcolor hover:bg-primarycol hover:text-white"
        >
          <a href="/galleri">gallery</a>
        </li>
        <li
          class="border-2 border-primarycol p-3 px-9 bg-brandcolor hover:bg-primarycol hover:text-white"
        >
          <a href="/share" class={currentPath === "share" ? "font-bold" : ""}
            >share</a
          >
        </li>
      </ul>
    </nav>
    <button
      id="burgermenu"
      class="lg:hidden bg-brandcolor border-2 border-primarycol p-3 px-9"
      x-on:click="showmenu = ! showmenu">Menu</button
    >
  </div>
  <nav
    id="mobilmenu"
    class="flex flex-col content-center"
    x-show="showmenu"
    x-transition
    x-on:click="showmenu = false"
    x-on:click.outside="showmenu = false"
  >
    <ul class="border-t-2 border-b-2 bg-brandcolor">
      <li
        class="text-center py-2 border-t-2 border-primarycol hover:bg-primarycol hover:text-white"
      >
        <a href="/" class={currentPath === "" ? "font-bold" : ""}>home</a>
      </li>
      <li
        class="text-center py-2 border-t-2 border-primarycol hover:bg-primarycol hover:text-white"
      >
        <a href="/lyt/" class={currentPath === "lyt/" ? "font-bold" : ""}
          >info</a
        >
      </li>
      <li
        class="text-center py-2 border-t-2 border-primarycol hover:bg-primarycol hover:text-white"
      >
        <a href="/live/" class={currentPath === "live/" ? "font-bold" : ""}
          >gallery</a
        >
      </li>
      <li
        class="text-center py-2 border-t-2 border-primarycol hover:bg-primarycol hover:text-white"
      >
        <a href="/om/" class={currentPath === "om/" ? "font-bold" : ""}>share</a
        >
        <li
          class="text-center py-2 border-t-2 border-primarycol hover:bg-primarycol hover:text-white"
        >
          <a href="/om/" class={currentPath === "om/" ? "font-bold" : ""}
            >contributions</a
          >
        </li>
      </li>
    </ul>
  </nav>
</header>
