---
import "../styles/tailwind.css";
---

<div class="overflow-hidden whitespace-nowrap bg-secondarycol p-5">
  <div
    class="inline-block animate-marquee"
    style={`animation-delay: ${Math.random() * 10}s`}
  >
    <p class="text-4xl text-primarycol">
      HOW TO PARTICIPATE HOW TO PARTICIPATE HOW TO PARTICIPATE HOW TO
      PARTICIPATE HOW TO PARTICIPATE HOW TO PARTICIPATE HOW TO PARTICIPATE HOW
      TO PARTICIPATE
    </p>
  </div>
</div>
