---
import "../styles/tailwind.css";
---

<div class="overflow-hidden whitespace-nowrap bg-brandcolor p-5">
  <div class="inline-block animate-marquee">
    <p class="text-4xl text-primarycol">
      HOW TO PARTICIPATE HOW TO PARTICIPATE HOW TO PARTICIPATE HOW TO
      PARTICIPATE
    </p>
  </div>
</div>
