---
import "../styles/tailwind.css";
---

<div class="overflow-hidden whitespace-nowrap text-white">
  <div
    class="inline-block animate-marquee"
    style={`animation-delay: ${Math.random() * 10}s`}
  >
    <p class="text-4xl text-white">
      OPEN CALL <span class="text-brandcolor">OPEN CALL</span> OPEN CALL OPEN CALL
      OPEN CALL OPEN CALL.
    </p>
  </div>
</div>
